*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: 
    radial-gradient(circle at top left, #FF4C4C88, transparent 60%),
    radial-gradient(circle at bottom right, #00E67688, transparent 60%),
    conic-gradient(from 90deg at center, #FF980088, #FFEB3B88, #D500F988, #00B0FF88, #FF980088);
    background-blend-mode: overlay;
    background-color: #cbcbcb; 
    height: 100vh;
    margin: 20;
}

main{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}

.key {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    opacity: 0.6;
    color: #fff;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 900px) {
    .keys {
        width: 600px;
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .keys {
        width: 300px;
        max-width: 100%;
    }
}

.key span {
    display: block;
    font-size: 10px;
    text-align: center;
    color: #000;
}
.play {
    transform: scale(1.2);
    opacity: 1;
}

.key[data-color="red"] {
    background-color: #ff4c4c;
}
.key[data-color="green"] {
    background-color: #00e676;
}
.key[data-color="blue"] {
    background-color: #00b0ff;
}
.key[data-color="yellow"] {
    background-color: #ffeb3b;
}
.key[data-color="purple"] {
    background-color: #d500f9;
}
.key[data-color="orange"] {
    background-color: #ff9800;
}
.key[data-color="pink"] {
    background-color: #ff4081;
}
.key[data-color="orange-neon"] {
    background-color: #ff6d00;
}
.key[data-color="violet"] {
    background-color: #7c4dff;
}

a {
    text-decoration: none;
    color: #5a98e6;
    font-weight: bolder;
}
